<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dubai</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>

</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <div class="top_heading">
                    <h4>Softtel Dubai The palm resort and spa</h4>
                </div> <!--top_headining close-->
                
                <div class="social_links">
                    <ul>
                        <li>
                            <!--<span class="fa fa-stack fa-xm fb">
                                <a href="#"><i class="fa fa-circle fa-stack-2x"></i></a>
                                <a href="#"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
                            </span>-->
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div> <!--social_links close-->
                
                <div class="clear"></div>
            </div> <!--container close-->
        </div> <!--header close-->

        <div class="slider">
            <div class="container">
                <img src="images/m-liberty.jpg" alt="nonee"/>
            </div> <!--container cllsoe-->
        </div> <!--slider close-->

        <div class="content">
            <div class="container">
                <h4>Future Properties</h4>
                    <div class="content_row">
                        <div class="content_col1"></div> <!--content_col1-->
                        <div class="content_col2"></div> <!--content_col1-->
                        <div class="content_col3">
                        <p>
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        </div> <!--content_col1-->

                         <div class="content_col4"></div> <!--content_col4-->
                         <div class="content_col5"></div> <!--content_col5-->
                    </div> <!--content_row close-->
            </div> <!--container close-->
        </div> <!--content close-->
    </div> <!--wrapper close-->
</body>
</html>S